
body{
    background-color: none;
}
*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}


/* Navbar styling */


#navbar{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 250px;
    background-color: black;
    padding: 15px;
}
#navbar a{
    text-decoration: none;
    color: aliceblue;
}
#navbar a:hover{
    color: blue;
}

/* container div styling */
h1{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 40px;
    color: brown;
}

#form{
    text-align: center;
}
#form p{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input{
    padding: 5px;
    /* width: 100%; */
    border-radius: 5px;
    border: 1px solid;
}

button{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color:black;
    background-color: rgb(151, 151, 160);
    border-radius: 5px;
}
button:hover{
    color: rgb(208, 212, 212);
}

#result{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: cornflowerblue;
    
}

h3{
    margin-bottom: 20px;
}